.*.swp
/home/.vim/.netrwhist
/home/.vim/plugged
/home/.vim/spell/

/home/.config/fish/conf.d/host_*.fish
/home/.config/fish/conf.d/000host_*.fish
/home/.config/fish/functions/_*
/home/.config/fish/fish_variables*
/home/.config/fish/fisher
/home/.config/kitty/host.conf
__pycache__
